---
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../data/proyects";
const { id } = Astro.params;

export function getStaticPaths() {
	return projects.map((project) => ({
		params: {
			id: project.id.toString(),
		},
	}));
}
const project = projects.find((project) => project.id.toString() === id);
---

<Layout title={`Vanilla JS/TS Collection - ${project?.name}`}>
	<section class="container">
		<h1>Details</h1>
		<p>{id}</p>
		{project && <p>{project.name}</p>}
		{project && <p>{project.description}</p>}
		{project && <p>{project.tags}</p>}
		{project && <p>{project.category}</p>}
		{project && <p>{project.featured}</p>}
		{project && <p>{project.date}</p>}
		{project && <p>{project.difficulty}</p>}
		{project && <p>{project.image}</p>}
		{project && <p>{project.language}</p>}
		{project && <p>{project.urlRepo}</p>}
		{project && <p>{project.urlDemo}</p>}
		{project && <p>{project.projectDetails.description}</p>}
		{project && <p>{project.projectDetails.keyFeatures}</p>}
		{project && <p>{project.projectDetails.codeHighlights}</p>}
		{project && <p>{project.projectDetails.futureImprovements}</p>}
	</section>
</Layout>

<style>
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100svw;
		height: 100svh;
		gap: 1rem;
		text-wrap: balance;
		align-items: center;
		background: linear-gradient(135deg, #03101f, #b1980c);
		background-image: linear-gradient(#f1f2ff08 1px, transparent 1px),
			linear-gradient(to right, #f1f2ff08 1px, #8a821c00 1px);
		background-size: 20px 20px;
		color: var(--color-text);
	}
</style>
